<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Vaga</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <style>
      .bor{border-bottom:solid black 1px; border-bottom-color:black; color:white;}
      .nav-link:hover{background-color:#a9a8eb; color:black;}
      .btn:hover{background-color:#a9a8eb; color:white;}
      .btnbor{border: solid #a9a8eb 2px}
    </style>
</head>
<body>
    <script crossorigin="anonymous" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg" style="background-color:#a9a8eb;">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                      <li class="nav-item">
                        <a class="nav-link active bor" aria-current="page" href="/index/inicial" >Início</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link bor" href="/registration">Cadastrar-se</a>
                      </li>
                      <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link bor" href="/index/listUsuario">L.Usuarios</a>
                      </li>
                      <li class="nav-item" sec:authorize="hasAnyRole('ADMIN', 'EMPRESA')">
                        <a class="nav-link bor" href="/index/cadVaga">Cad.Vagas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link bor" href="#" th:href="@{/}" sec:authorize="not isAuthenticated()">Login</a>
                      </li>
                      <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link bor" th:href="@{/logout}">Logout</a></li>
                    </ul>
                    <form class="d-flex" role="search"  th:action="@{/pesquisar}">
                      <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search" name="pesquisar">
                      <button class="btn btnbor" type="submit">Pesquisar</button>
                    </form>
                  </div>
                </div>
              </nav>
            </div>
    </div> 
<div class="row mt-2">
    <div class="mx-auto btnbor text-center"><h3>Vaga</h3></div>
</div>
        <div class="row mt-2">
           <div class="col ">
               <div class="row text-center">
                  <div class="col  p-3 mx-2 my-2"><img class="m-2 border" width="200px" th:src="@{/index/vaga/images/{img}(img=${img})}" alt="Logo"> </div>
                  <div class="col position-relative"><h4 class="card-title mx-2 my-2 position-absolute top-50 start-20" th:text="${nome}"></h4> </div>
                </div>
                <div class="row text-center">
                  <div class=" col p-3"><h5>Horário:</h5><span class="card-title mb-2 " th:text="${tipo}"></span></div>    
                  <div class="col p-3 "><h5>Empresa:</h5><span class="card-subtitle mb-2 text-muted" th:text="${nomeUsu}"></span></div> 
                </div>
                <div class="row mt-3 mb-5 p-3 text-center">
                    <div class="col ">
                      <h5>Descrição:</h5><span class="card-subtitle mb-2 text-muted" th:text="${descricao}"></span></div>
                    </div>
                </div>
                <div class="row mt-5 p-3 text-center position-relative">
                  <div class="col-auto position-absolute top-100 start-50 translate-middle">
                      <div ><input class="form-check-input" type="checkbox" role="switch" id="visible" th:value="${visible}"checked disabled>
                          <label class="form-check-label" for="visible" >Disponibilidade</label>
                    </div>
                    <form method="post" th:action="@{inscreverse/{id}(id=${id})}">
                    <div class="row mt-2 ">
                        <label for="identificacao" class="form-label">Para inscrever-se insira sua identificação e clique no inscrever-se</label>
                        <input type="number" class="form-control" id="identificacao" name="identificacao" placeholder="Identificação*" >
                    </div>
                    <div class="row " sec:authorize="hasAnyRole('ADMIN', 'EMPRESA')">
                      <div class="col"><a class="btn btnbor m-2" th:href="@{/index/vaga/delete/{id}(id=${id})}" role="button">Deletar</a> 
                      <a class="btn btnbor m-2" th:href="@{/index/vaga/update/{id}(id=${id})}" role="button">Editar</a>
                      </div>
                    </div>
                    <div sec:authorize="hasAnyRole('ADMIN', 'USER')"> </div>
                    <button type="submit" class="btn btnbor mt-2">Inscrever-se</button>
                  </form>
                  
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>